extends layout

block content
  body
    form(action='/ps4', method='POST')
      | Input City:
      br
      input(type='text', name='city', id='city', placeholder='Enter a city name')
      br
      input(type='submit', value='Submit')

    p the temperature in fahrenheit in your input location is: #{val}