extends layout

block content
    h1 Welcome to the PS3 Route!
    p This is the message passed from the GET Function --> #{string}
    p These are the string and length passed from the POST Function --> #{word} whose length is: #{len}